a {
  text-decoration: none;
  transition: all 400ms;
}
a.link,  a.link-next, a.link-prev{
  display: inline-block;
  margin-bottom: .625rem;
  padding-top: .625rem;
  color: $color-gray;
  &:hover {
    text-decoration: underline;
    color: $color-black;
  }
}
a.link-prev{
  &:before{
    content: "\00AB ";
  }
}
a.link-next{
  &:after{
    content: ' \00BB ';
  }
}
//a.btn{
//  display: inline-block;
//  padding: .625rem 2rem;
//  //border-radius: .5rem;
//  font-size: 1rem;
//}
//a.btn-sm{
//  display: inline-block;
//  padding: .3125rem 1rem;
//  border-radius: .2rem;
//  font-size: 1rem;
//}
//a.btn-default{
//  background-color: $btn-def;
//  color: $color-white;
//  &:hover{
//    background-color: $color-l-gray;
//  }
//}
//
//a.btn-blue{
//  background-color: $color-blue;
//  color: $btn-color;
//  &:hover{
//    background-color: $color-l-blue;
//  }
//}
//a.btn-red{
//  background-color: $color-red;
//  color: $color-white;
//  &:hover{
//    background-color: $color-l-red;
//  }
//}
//
//a.btn-green{
//  background-color: $color-green;
//  color: $color-white;
//  &:hover{
//    background-color: $color-l-green;
//  }
//}
//
//a.btn-yellow{
//  background-color: $color-yellow;
//  color: $color-white;
//  &:hover{
//    background-color: $color-l-yellow;
//  }
//}