.p-1{
  padding: .625rem;
}
.p-2{
  padding: 1.25rem;
}
.p-4{
  padding: 2.5rem;
}
.p-5{
  padding: 3.125rem;
}
.p-3{
  padding: 1.175rem;
}
.ptb-1{
  padding: .625rem 0;
}
.ptb-2{
  padding: 1.25rem 0;
}
.ptb-3{
  padding: 1.175rem 0;
}
.ptb-4{
  padding: 2.5rem 0;
}
.ptb-5{
  padding: 3.125rem 0;
}
.plr-1{
  padding: 0 .625rem;
}
.plr-2{
  padding: 0 1.25rem;
}
.plr-3{
  padding: 0 1.175rem;
}
.plr-4{
  padding: 0 2.5rem;
}
.plr-5{
  padding: 0 3.125rem;
}
.pt-1{
  padding-top: .625rem;
}
.pr-1{
  padding-right: .625rem;
}
.pb-1{
  padding-bottom: .625rem;
}
.pl-1{
  padding-left: .625rem;
}
.pt-2{
  padding-top: 1.25rem;
}
.pr-2{
  padding-right: 1.25rem;
}
.pb-2{
  padding-bottom: 1.25rem;
}
.pl-2{
  padding-top: 1.25rem;
}
.pt-3{
  padding-top: 1.175rem;
}
.pr-3{
  padding-right: 1.175rem;
}
.pb-3{
  padding-bottom: 1.175rem;
}
.pl-3{
  padding-top: 1.175rem;
}
.pt-4{
  padding-top: 2.5rem;
}
.pr-4{
  padding-right: 2.5rem;
}
.pb-4{
  padding-bottom: 2.5rem;
}
.pl-4{
  padding-top: 2.5rem;
}
.pt-5{
  padding-top: 3.125rem;
}
.pr-5{
  padding-right: 3.125rem;
}
.pb-5{
  padding-bottom: 3.125rem;
}
.pl-5{
  padding-top: 3.125rem;
}