.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3rem auto;
  padding: 0 10px;
  text-align: center;

  h1 {
    margin-top: 5rem;
    font-size: 3rem;
  }

  p {
    font-size: 1.5rem;
  }
a{
  margin: 4rem 0;
}
}
@media (max-width: 1024px) {
  .banner{
    margin: 3rem auto;
    h1 {
      margin-top: 2.5rem;
      font-size: 2.5rem;
    }
    a{
      margin: 2rem 0;
    }
    p {
      font-size: 1.2rem;
    }
  }

}
@media (max-width: 768px) {
  .banner{
    margin: 1.5rem auto;
    h1 {
      margin-top: 2.5rem;
      font-size: 2rem;
    }
    a{
      margin: 2rem 0;
    }
    p {
      font-size: 1.2rem;
    }
  }
}