.photos {
  margin: 3.25rem auto;
.row{
  flex-flow: row;
}
  figure {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    width: 25%;
    padding-bottom: .3125rem;
    margin: 0.2rem;
    background-color: $color-black;

    figcaption {
      display: flex;
      justify-content: space-between;
      padding: 0 .75rem;
      font-style: italic;
      color: $color-white;
    }
  }

  img {
    max-width: 100%;
    transition: opacity 400ms;
    box-sizing: border-box;

    &:hover {
      opacity: 0.8;
    }
  }

  @media (max-width: 1024px) {
    figure {
      width: 50%;
    }
  }

  @media (max-width: 768px) {
    margin: 2rem auto;
    .row {
      flex-direction: row;

      figure {
        width: 50%;
      }
    }
  }

  @media (max-width: 480px) {
    .container {
      padding: 0 .2rem;
    }
    .row {
      flex-direction: column;

      figure {
        width: 100%;
        padding: 0 .1rem;
      }
    }
  }
}


